<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Manchester United Fanpage - Red Devils</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/manutd.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" th:href="@{index}">Manchester United</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="players">Players</a></li>
                        <li class="nav-item"><a class="nav-link" href="articles">Articles</a></li>
                        <li class="nav-item"><a class="nav-link" href="members">Members</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-8">
                            <img src="assets/manu.png"> 
                                <h1 class="display-4 fw-bolder mb-3">Manchester United</h1>
                                <h1 class="display-4 fw-bolder mb-3">Men Players</h1>
                                <p class="lead fw-normal text-muted mb-4">Playing for Manchester United is something that most people want and very few people do – but there is no harm in having a dream as long as you are realistic with it.</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Red Devils</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5" id="scroll-target">
                    <div class="text-center">
                        <h2 class="fw-bolder">Players</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/1.png" alt="..." />
                                <h5 class="fw-bolder">1 / David De Gea</h5>
                                <div class="fst-italic text-muted">GK</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/22.png" alt="..." />
                                <h5 class="fw-bolder">22 / Tom Heaton</h5>
                                <div class="fst-italic text-muted">GK</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/26.png" alt="..." />
                                <h5 class="fw-bolder">26 / Dean Henderson</h5>
                                <div class="fst-italic text-muted">GK</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/31.png" alt="..." />
                                <h5 class="fw-bolder">31 / Jack Butland</h5>
                                <div class="fst-italic text-muted">GK</div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/2.png" alt="..." />
                                <h5 class="fw-bolder">2 / Victor Lindelof</h5>
                                <div class="fst-italic text-muted">DF / CB</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/5.png" alt="..." />
                                <h5 class="fw-bolder">5 / Harry Maguire</h5>
                                <div class="fst-italic text-muted">Captain / DF / CB</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/6.png" alt="..." />
                                <h5 class="fw-bolder">6 / Lisandro Martinez</h5>
                                <div class="fst-italic text-muted">DF / CB</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/12.png" alt="..." />
                                <h5 class="fw-bolder">12 / Tyrell Malacia</h5>
                                <div class="fst-italic text-muted">DF / LB</div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/19.png" alt="..." />
                                <h5 class="fw-bolder">19 / Raphael Varane</h5>
                                <div class="fst-italic text-muted">DF / CB</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/20.png" alt="..." />
                                <h5 class="fw-bolder">20 / Diogo Dalot</h5>
                                <div class="fst-italic text-muted">DF / RB</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/23.png" alt="..." />
                                <h5 class="fw-bolder">23 / Luke Shaw</h5>
                                <div class="fst-italic text-muted">DF / LB</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/29.png" alt="..." />
                                <h5 class="fw-bolder">29 / Aaron Wan-Bissaka</h5>
                                <div class="fst-italic text-muted">DF / RB</div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/8.png" alt="..." />
                                <h5 class="fw-bolder">8 / Bruno Fernandes</h5>
                                <div class="fst-italic text-muted">Vice Captain / MF / CAM</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/14.png" alt="..." />
                                <h5 class="fw-bolder">14 / Christian Eriksen</h5>
                                <div class="fst-italic text-muted">MF / CM</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/17.png" alt="..." />
                                <h5 class="fw-bolder">17 / Fred</h5>
                                <div class="fst-italic text-muted">MF / CM</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/18.png" alt="..." />
                                <h5 class="fw-bolder">18 / Casemiro</h5>
                                <div class="fst-italic text-muted">MF / CDM</div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/39.png" alt="..." />
                                <h5 class="fw-bolder">39 / Scott Mctominay</h5>
                                <div class="fst-italic text-muted">MF / CDM</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/9.png" alt="..." />
                                <h5 class="fw-bolder">9 / Anthony Martial</h5>
                                <div class="fst-italic text-muted">FW / ST</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/10.png" alt="..." />
                                <h5 class="fw-bolder">10 / Marcus Rashford</h5>
                                <div class="fst-italic text-muted">FW / RW</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/11.png" alt="..." />
                                <h5 class="fw-bolder">11 / Mason Greenwood</h5>
                                <div class="fst-italic text-muted">FW / ST</div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/21.png" alt="..." />
                                <h5 class="fw-bolder">21 / Antony</h5>
                                <div class="fst-italic text-muted">FW / RW</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/25.png" alt="..." />
                                <h5 class="fw-bolder">25 / Jadon Sancho</h5>
                                <div class="fst-italic text-muted">FW / LW</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/27.png" alt="..." />
                                <h5 class="fw-bolder">27 / Wout Weghorst</h5>
                                <div class="fst-italic text-muted">FW / ST</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                                <h5 class="fw-bolder">49 / Alejandro Garnacho</h5>
                                <div class="fst-italic text-muted">FW / LW</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
         </div>
         <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Made by Anthony Ryu &copy; Manchester United Fan Page 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
      
</html>